
@{
    ViewBag.Title = "Team";
}


<div class="mb-0   bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Company/Index">Company Home </a>
        </li>
        <li>
            <a href="~/Company/Project">Project </a>
        </li>
        <li>
            <a href="~/Company/Team">Team Members </a>
        </li>

    </ul>
</div>


<h2 class="text-center bg-success ">Team Members List</h2>
<div>
    <ul>
        <li>MD Fahad</li>
        <li>MD Ashik</li>
        <li>MD Imran</li>
        <li>MD Anas</li>
        <li>MD Mohid</li>
        <li>MD Manik</li>
        <li>MD Fahim</li>
        <li>MD Fahad</li>
        <li>MD Fahad</li>
    </ul>
</div>

