
@{
    ViewBag.Title = "Education";
}

<h2 class="text-center ">My Education Information</h2>
<hr />
<div>
    <ul>
        <li>
            <h2>
                Sc in Computer Science and Engineering
            </h2>
            <ul>
                <li>
                    <h4> American Inter National Univarsity-Bangladesh</h4>
                    <ul>

                        <li>
                            MAJOR - Software Engineering

                        </li>
                        <li>
                            2020 - Running
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <br />
        <li>
            <h2>
                Higher Secondary Certificate - Science
            </h2>
            <ul>
                <li>
                    <h4>
                        Chand Mia Mulla Collage
                    </h4>
                    <ul>
                        <li>
                            Comilla Board

                        </li>
                        <li>
                            2017 - 2019

                        </li>
                        <li>
                            GPA - 4.00
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <br />
        <li>
            <h2>
                Secondary School Certificate - Science

            </h2>
            <ul>
                <li>
                    <h4>
                        Ghorashal A. K. High School | Batch 2011-12
                    </h4>
                    <ul>
                        <li>
                            Comilla Board

                        </li>
                        <li>
                            Graduated, July 2012

                        </li>
                        <li>
                            GPA - 4.00
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>




@*Fotter*@
<div class="mb-0 fixed-bottom  bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Fahad/Fahad">Home </a>
        </li>
        <li> <a href="~/Fahad/Education">Education</a></li>
        <li> <a href="~/Fahad/Project">Project</a></li>
        <li><a href="~/Fahad/Personal">Personal Info</a></li>
        <li> <a href="~/Fahad/Referance">Referance</a></li>
    </ul>
</div>