
@{
    ViewBag.Title = "Personal";
}

<h2 class="text-center" > Personal Information </h2>

<hr />


<p class="text-bg-light">
    I'am Fahad
    I am a versatile full-stack web developer with expertise in frontend and backend technologies. Proficient in HTML, CSS, JavaScript, and server-side programming. Dedicated to creating seamless user experiences and scalable solutions. Passionate about problem-solving and collaborating to deliver innovative web applications.

</p>







@*Fotter*@
<div class="mb-0 fixed-bottom  bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Fahad/Fahad">Home </a>
        </li>
        <li> <a href="~/Fahad/Education">Education</a></li>
        <li> <a href="~/Fahad/Project">Project</a></li>
        <li><a href="~/Fahad/Personal">Personal Info</a></li>
        <li> <a href="~/Fahad/Referance">Referance</a></li>
    </ul>
</div>