
@{
    ViewBag.Title = "Project";
}

<h2 class="text-center">My Project List </h2>

<hr />
<br />

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div>
    <center>
        <table class="text-center">
            <thead>
                <tr>
                    <th class="w-25" s>Course</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Web technology
                    </td>
                    <td>
                        Online Food Ordaring Systeam
                    </td>

                    <td>
                        This Project Use HTML, CSS, Php, javaScript
                    </td>
                </tr>
                <tr>
                    <td>
                        Web technology
                    </td>
                    <td>
                        Online Food Ordaring Systeam
                    </td>

                    <td>
                        This Project Use HTML, CSS, Php, javaScript
                    </td>
                </tr>
                <tr>
                    <td>
                        Web technology
                    </td>
                    <td>
                        Online Food Ordaring Systeam
                    </td>

                    <td>
                        This Project Use HTML, CSS, Php, javaScript
                    </td>
                </tr>
                <tr>
                    <td>
                        Web technology
                    </td>
                    <td>
                        Online Food Ordaring Systeam
                    </td>

                    <td>
                        This Project Use HTML, CSS, Php, javaScript
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>




@*Fotter*@
<div class="mb-0 fixed-bottom  bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Fahad/Fahad">Home </a>
        </li>
        <li> <a href="~/Fahad/Education">Education</a></li>
        <li> <a href="~/Fahad/Project">Project</a></li>
        <li><a href="~/Fahad/Personal">Personal Info</a></li>
        <li> <a href="~/Fahad/Referance">Referance</a></li>
    </ul>
</div>