
@{
    ViewBag.Title = "Referance";
}

<h2 class="text-center">Referance</h2>
<hr />
<br />
<style>
    .tt {
        border-right: 1px solid black;
        display: inline-block;
    }
</style>
<div class="row">
    <ul class="tt p-2 col-lg-4">
        <h4>
            Md Asaduzzaman Nur Shuvo
        </h4>
        <h6 class="m-3">
            Senior Software Engineer
            <ul>
                <li class="m-2">
                    Samsung R&D Institute

                </li>
                <li class="m-2">
                    +8801537227217
                </li>
            </ul>

        </h6>

    </ul>
    <ul class="tt p-2 col-lg-4">
        <h4>
            Md Asaduzzaman Nur Shuvo
        </h4>
        <h6 class="m-3">
            Senior Software Engineer
            <ul>
                <li class="m-2">
                    Samsung R&D Institute

                </li>
                <li class="m-2">
                    +8801537227217
                </li>
            </ul>

        </h6>

    </ul>
    <ul class=" col-lg-4">
        <h4>
            Md Asaduzzaman Nur Shuvo
        </h4>
        <h6 class="m-3">
            Senior Software Engineer
            <ul>
                <li class="m-2">
                    Samsung R&D Institute

                </li>
                <li class="m-2">
                    +8801537227217
                </li>
            </ul>

        </h6>

    </ul>

</div>





@*Fotter*@
<div class="mb-0 fixed-bottom bg-black w-100 p-3">
    <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
            <a href="~/Fahad/Fahad">Home </a>
        </li>
        <li> <a href="~/Fahad/Education">Education</a></li>
        <li> <a href="~/Fahad/Project">Project</a></li>
        <li><a href="~/Fahad/Personal">Personal Info</a></li>
        <li> <a href="~/Fahad/Referance">Referance</a></li>
    </ul>
</div>